@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  scroll-behavior: smooth;
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
  border: none;
  text-decoration: wavy;
}

input[type='text']:disabled,
input[type='number']:disabled,
input[type='email']:disabled {
  background-color: #f1f3f4;
  opacity: 0.7;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
  /* background-color: #c4c4c4; */
  @apply bg-baseColor;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(6, 153, 153);
}

.container_app {
  max-width: 1500px;
}

.button-primary {
  color: white;
  background-color: rgb(0, 132, 137);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.button-no-outline-primary {
  border: rgb(0, 132, 137);
  color: rgb(0, 132, 137);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.button-primary:hover {
  background-color: rgb(0, 120, 120);
}

.button-outline-primary,
.button-outline-primary-red,
.button-outline-primary-blue,
.button-outline-primary-grey {
  border: 1px solid rgb(0, 132, 137);
  color: rgb(0, 132, 137);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.button-no-outline-primary:hover,
.button-outline-primary:hover,
.button-outline-primary-red:hover,
.button-outline-primary-blue:hover,
.button-outline-primary-grey:hover {
  background-color: #f1f3f4;
}

.button-primary:disabled,
.button-no-outline-primary:disabled,
.button-outline-primary:disabled,
.button-outline-primary-red:disabled,
.button-outline-primary-blue:disabled,
.button-outline-primary-grey:disabled {
  opacity: 0.5;
}

.button-outline-primary-red {
  @apply text-red-50;
  @apply border;
  @apply border-red-50;
}

.button-outline-primary-blue {
  @apply text-blue-200;
  @apply border;
  @apply border-blue-200;
}

.button-outline-primary-grey {
  @apply text-grey-300;
  @apply border;
  @apply border-grey-200;
}

.menu-link {
  @apply text-black-100;

  padding: 29px 15px;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  margin: 0 15px;
}

.menu-link:first-child {
  margin-left: 0;
}
.menu-link:last-child {
  margin-right: 0;
}

.menu-link:hover {
  color: rgb(0, 132, 137);
  transition: all 0.5s;
}

.menu-link.active {
  position: relative;
  font-weight: 600;
  @apply text-baseColor;
}

.menu-link.active::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  @apply bg-baseColor;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.slick-dots li button:before {
  font-size: 10px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.category-link {
  @apply text-black-100;

  font-size: 16px;
  line-height: 22px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.category-link.active {
  position: relative;
}

.category-link.active::before {
  @apply bg-green-600;

  position: absolute;
  content: '';
  width: 60%;
  height: 4px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.category-link:hover {
  @apply text-green-700;
  text-decoration: underline;
}

.category-link.active:hover {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.wrap_menuAvatar {
  cursor: pointer;
  position: relative;
}

.wrap_contentHover {
  position: absolute;
  bottom: 0px;
  right: -5px;
  width: 300px;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  z-index: 10;
  /* display: block; */
  display: none;
}

.wrap_menuAvatar .wrap_contentHover .contentHover {
  margin-top: 10px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.wrap_menuAvatar:hover .wrap_contentHover {
  display: block;
}

.wrap_menuAvatar:hover .iconAvatar {
  outline: 3px solid #59ada4;
}

.wrap_menuAvatar .menuProfile {
  width: 100%;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 48px;
  @apply text-black-100;
  display: flex;
  align-items: center;
}

.wrap_menuAvatar .lineMenu {
  width: calc(100% - 40px);
  margin: 0 20px;
  height: 0.2px;
  @apply bg-grey-200;
}

.wrap_menuAvatar .menuLinkHover:hover {
  @apply bg-blue-100;
}

.container_shadow {
  width: 100%;
  @apply bg-white;

  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* MAX LINE */
.max_line-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.max_line-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.max_line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.max_line-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.max_line-5 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.max_line-6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

/* OVERLAY */
.overlayCheckbox {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: transparent;
}

input[name='idCheckBox']:checked ~ .overlayCheckbox {
  display: block;
}

/* SELECT BOX */
.selectBox::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.selectBox::-webkit-scrollbar-track {
  border: 1px solid;
  @apply border-gray-100;
  border-radius: 2px;
}

/* Handle */
.selectBox::-webkit-scrollbar-thumb {
  /* background: #1C4843; */
  @apply bg-gray-400;
  border-radius: 2px;
}

/* Handle on hover */
.selectBox::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
  opacity: 0.5;
}
